@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-2xl md:text-4xl lg:text-6xl;
}

h2 {
  @apply text-xl md:text-3xl;
}

h3 {
  @apply text-xl;
}

.fill-screen {
  min-height: calc(100vh - 9rem);
}

@supports (mix-blend-mode: difference) {
  .difference {
    mix-blend-mode: difference;
  }

  nav.difference * {
    color: #fff !important;
    mix-blend-mode: difference;
  }
}

.image-container {
  width: 100%;
}

.image-container > .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
